@import "styles/variables.scss";

.wrapper {
  margin: 3rem 0;

  h2 {
    margin-bottom: 2rem;
  }
  .projects {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;

    .card-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
      }

      .project-link {
        display: block;
        width: 100%;
        text-align: center;

        // &:hover {
        //   color: hotpink;
        // }
      }

      .project-name {
        padding: 0.75rem;
      }
    }
  }
}
