@import "styles/variables.scss";

section.projects-wrapper {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 3rem 0;

  h1 {
    margin-bottom: 3rem;
  }

  .projects {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;

    .card-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
      }

      .project-link {
        display: block;
        width: 100%;
        text-align: center;

        // &:hover {
        //   color: hotpink;
        // }
      }

      .project-name {
        padding: 0.75rem;
      }
    }
  }
}
