.skills {
  position: relative;
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;

  li {
    position: absolute;
    left: 0;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    transform-origin: 300px;
    transform: rotate(calc(360deg / var(--length) * var(--i)));

    span,
    img {
      transform: rotate(calc((360deg / var(--length) * var(--i) * -1)));
    }
  }

  @media screen and (max-width: 767px) {
    width: 300px;
    height: 300px;
    li {
      transform-origin: 150px;
    }
  }

  @media screen and (max-width: 320px) {
    li {
      left: -20px;
    }
  }
}
