@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@300;600&display=swap");
@import "styles/variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

body {
  background-color: $bg;
  color: #fff;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;

  @media screen and (max-width: 767px) {
    scroll-snap-align: none;
  }
}
